@font-face {
  font-family: AvenirNextBold;
  src: url(../../inc/fonts/AvenirNext-Bold.woff) format("woff"),
    url(../../inc/fonts/AvenirNext-Bold.ttf) format("opentype");
}
@font-face {
  font-family: AvenirNextBold;
  src: url(../../inc/fonts/AvenirNext-Medium.woff) format("woff"),
    url(../../inc/fonts/AvenirNext-Medium.ttf) format("opentype");
}
@font-face {
  font-family: AvenirNextBold;
  src: url(../../inc/fonts/AvenirNext-Regular.woff) format("woff"),
    url(../../inc/fonts/AvenirNext-Regular.ttf) format("opentype");
}
