header {
  padding-top: 30px;
  .site-branding {
    display: inline-block;
    float: left;
    width: auto;
    clear: none;
  }
  .main-navigation {
    display: inline-block;
    float: right;
    width: auto;
    clear: none;
    padding-top: 21px;
    margin-right: -10px;
    
    li {
      @extend %cl-effect;
      padding: 0 10px;
      position: relative;
      margin: 0 5px;
      &:last-of-type {
        margin-right: 0;
      }

      & > a {
        font-size: 20px;
        text-transform: uppercase;
        font-family: $mainFontR;
        color: $black;
        @include transition(.3s all ease);
        outline: 0;
        letter-spacing: 2px;
        
      }
      &.current-menu-item {
        a {
          font-family: $mainFontB;
          color :$yellow;
        }
      }
    }
    /*li {

      &:after,
      &:before {
        content: '';
        background-color: $yellow;
        position: absolute;
        width: 0;
        height: 2px;
        @include transition(.3s all ease);
      }
      &:before {
        top: 0;
        left: 0;
      }
      &:after {
        bottom: 0;
        right: 0;
      }

      

        &:after,
        &:before {
          content: '';
          position: absolute;
          background-color: $yellow;
          width: 2px;
          height: 0;
          @include transition(.3s all ease);
        }
        &:before {
          top: 0;
          right: 0;
        }
        &:after {
          bottom: 0;
          left: 0;
        }
        
      }     
      
      &:hover {
        &:before {
          width: 100%;
        }
        &:after {
          width: 100%;
        }
        
        a {
          color :$yellow;
          &:before {
            height: 100%;
          }
          &:after {
            height: 100%;
          }
          

        }
      }
    }*/
  }
}