header {
  .site-branding {
    display: inline-block;
    float: left;
    width: auto;
    clear: none;
  }
  .main-navigation {
    display: inline-block;
    float: right;
    width: auto;
    clear: none;
  }
}