/*
 * Fonts
 */

$mainFontR: AvenNxtRglr, Helvetica, Tahoma, sans-serif;
$mainFontM: AvenNxtMed, Helvetica, Tahoma, sans-serif;
$mainFontB: AvenNxtBold, Helvetica, Tahoma, sans-serif;

$black: #000000;
$white: #ffffff;
$yellow: #f2aa24;
$gray: #edefee;

/*
**
* Viewports
**
*/
